F2Demo/PLN_LongTestFlow.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('GetWatermarkTableList').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "SELECT FORMAT(MAX(LastModifiedDate), 'yyyy-MM-ddTHH:mm:ss.fff') AS NewModifiedValue FROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "SqlServerTable",
                  "typeProperties": {
                    "database": "VCR_CRM"
                  },
                  "schema": [],
                  "externalReferences": {
                    "connection": "f1097401-c4a4-49d6-a91c-c9e9c08a3bb1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "GetNewWatermarkDate",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "SELECT * FROM\n@{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\nWHERE LastModifiedDate > '@{item().LastModifiedDate}'\nAND LastModifiedDate <= '@{activity('GetNewWatermarkDate').output.firstRow.NewModifiedValue}'",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "database": "VCR_CRM"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "f1097401-c4a4-49d6-a91c-c9e9c08a3bb1"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": true
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('data_loaded/', item().TABLE_NAME, '/', formatDateTime(utcNow(), 'yyyy/MM/dd'),'/',pipeline().RunId)",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "LKH_Bronze_Data",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "f65d78f2-4520-80a0-4ffd-e0a24b57cc09",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "LoadDataEachTable",
              "dependsOn": [
                {
                  "activity": "GetNewWatermarkDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "UPDATE dbo.WaterMark\r\nSET LastModifiedDate = '@{activity('GetNewWatermarkDate').output.firstRow.NewModifiedValue}'\r\nWHERE TABLE_NAME = '@{item().TABLE_NAME}'",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "WH_WaterMark",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "557663ee-3177-4b83-893f-2f78a0f5f01e",
                    "endpoint": "ql6hjfjj6tau3cdghtp44mg4da-dtfxnddcz67e5oo7fgkqtabwre.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "8c76cb1c-cf62-4ebe-b9df-299509803689"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "UpdateNewModifiedDate",
              "dependsOn": [
                {
                  "activity": "GetNewWatermarkDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "listTables",
                "value": {
                  "value": "@item().TABLE_NAME\n",
                  "type": "Expression"
                }
              },
              "name": "AppendListTable",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "GetWatermarkTableList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "91adba92-ff63-82c1-4963-3416a1d1ccae",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "table_name": {
              "value": {
                "value": "@string(variables('listTables'))",
                "type": "Expression"
              },
              "type": "string"
            },
            "RUN_ID": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "BronzeToSilver",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT * FROM dbo.WaterMark",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "WH_WaterMark",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "557663ee-3177-4b83-893f-2f78a0f5f01e",
                  "endpoint": "ql6hjfjj6tau3cdghtp44mg4da-dtfxnddcz67e5oo7fgkqtabwre.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "8c76cb1c-cf62-4ebe-b9df-299509803689"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetWatermarkTableList",
        "dependsOn": []
      }
    ],
    "variables": {
      "listTables": {
        "type": "Array",
        "defaultValue": []
      }
    }
  }
}