F2Demo/pipeline2.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Script1",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "SELECT STRING_AGG(TABLE_NAME, ',') AS TableList\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE';\n",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00",
          "database": "VCR_CRM"
        },
        "externalReferences": {
          "connection": "f1097401-c4a4-49d6-a91c-c9e9c08a3bb1"
        }
      },
      {
        "name": "Set variable1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Script1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "pipelineReturnValue",
          "value": [
            {
              "key": "table_list",
              "value": {
                "type": "Array",
                "content": [
                  {
                    "type": "String",
                    "content": "@activity('Script1').output"
                  }
                ]
              }
            }
          ],
          "setSystemVariable": true
        }
      }
    ],
    "variables": {
      "table_list": {
        "type": "Array"
      }
    }
  }
}