F2Demo/PLN_Longtest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Copy data1",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "SELECT \n    s.name AS SchemaName,\n    t.name AS TableName,\n    CAST('1900-01-01T00:00:00.000' AS DATETIME2(3)) AS LastModifiedDate\nFROM \n    VCR_CRM.sys.tables AS t\nJOIN \n    VCR_CRM.sys.schemas AS s ON t.schema_id = s.schema_id\nJOIN \n    VCR_CRM.sys.columns AS c ON t.object_id = c.object_id\nWHERE \n    c.name = 'LastModifiedDate'\nORDER BY \n    s.name, t.name;\n",
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "type": "SqlServerTable",
              "schema": [],
              "typeProperties": {
                "database": "VCR_CRM"
              },
              "externalReferences": {
                "connection": "f1097401-c4a4-49d6-a91c-c9e9c08a3bb1"
              }
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "tableOption": "autoCreate",
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "WH_LongTest",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "ql6hjfjj6tau3cdghtp44mg4da-dtfxnddcz67e5oo7fgkqtabwre.datawarehouse.fabric.microsoft.com",
                    "artifactId": "d8e913a7-1b9b-43a4-8108-d32352e5caee",
                    "workspaceId": "8c76cb1c-cf62-4ebe-b9df-299509803689"
                  }
                }
              },
              "type": "DataWarehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "dbo",
                "table": "test"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Lookup1",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Copy data1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT * FROM dbo.test",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "WH_LongTest",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "ql6hjfjj6tau3cdghtp44mg4da-dtfxnddcz67e5oo7fgkqtabwre.datawarehouse.fabric.microsoft.com",
                  "artifactId": "d8e913a7-1b9b-43a4-8108-d32352e5caee",
                  "workspaceId": "8c76cb1c-cf62-4ebe-b9df-299509803689"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup1').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "GetNewDate",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": "SELECT FORMAT(MAX(LastModifiedDate), 'yyyy-MM-ddTHH:mm:ss.fff') AS NewModifiedValue FROM @{item().SchemaName}.@{item().TableName}",
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None"
                },
                "datasetSettings": {
                  "annotations": [],
                  "type": "SqlServerTable",
                  "schema": [],
                  "typeProperties": {
                    "database": "VCR_CRM"
                  },
                  "externalReferences": {
                    "connection": "f1097401-c4a4-49d6-a91c-c9e9c08a3bb1"
                  }
                }
              }
            },
            {
              "name": "UpdateNewDate",
              "type": "Script",
              "dependsOn": [
                {
                  "activity": "GetNewDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedService": {
                "name": "WH_LongTest",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "ql6hjfjj6tau3cdghtp44mg4da-dtfxnddcz67e5oo7fgkqtabwre.datawarehouse.fabric.microsoft.com",
                    "artifactId": "d8e913a7-1b9b-43a4-8108-d32352e5caee",
                    "workspaceId": "8c76cb1c-cf62-4ebe-b9df-299509803689"
                  }
                }
              },
              "typeProperties": {
                "scripts": [
                  {
                    "type": "NonQuery",
                    "text": {
                      "value": "UPDATE dbo.test\r\nSET LastModifiedDate = '@{activity('GetNewDate').output.firstRow.NewModifiedValue}'\r\nWHERE TableName = '@{item().TableName}'",
                      "type": "Expression"
                    }
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              }
            }
          ]
        }
      }
    ]
  }
}